<style type="text/css">
  #content{
    margin-top: -80px;
  }
  .category-info {
    padding-top: 23px;
  }
</style>

<% provide(:title, @product_category.meta_title) %>
<% provide(:description, @product_category.meta_description) %>
<% provide(:keywords, @product_category.meta_keywords) %>

	<%= render '/product_categories/blocks/sidebar/sidebar' %>
  <div id="content">
  
    <h1><span class="h1-top"><%= @product_category.name %></span></h1>
    <div class="category-info">
      <%= @product_category.description.html_safe %>
    </div>

    
    
   		<%= render '/product_categories/blocks/categories_list' %>
  
	
    <div class="product-filter">
      <div class="display">
       
      </div>
    </div>

	

<%= render '/product_categories/blocks/products_list' %>
 