<style type="text/css">
	.category_grid .product_item{
		float: left;
	}
</style>	
<%= render '/product_categories/blocks/breadcums' %>
<div class="page_content_offset">			
				<div class="container">
					<div class="row clearfix">
						<!--left content column-->
						<section class="col-lg-9 col-md-9 col-sm-9">
							<h2 class="tt_uppercase color_dark m_bottom_25"><%= @product_category.name %></h2>
							<img class="r_corners m_bottom_40" src="<%= @product_category.big_image.url %>" alt="">
							<div class="product_category_description">
								<%= @product_category.description.html_safe %>
							</div>
							<hr class="m_bottom_10 divider_type_3">
							<!--products-->
							<section class="products_container category_grid clearfix m_bottom_15">
							<% if @product_category.product_categories.count > 0 %>
								<%= render '/product_categories/blocks/categories_list' %>
							<% end %>

							<% if @product_category.collections.count > 0 %>
								<%= render '/product_categories/blocks/collections_list' %>
							<% end %>
							</section>
							<hr class="m_bottom_10 divider_type_3">
							<%= will_paginate  @product_category.collections.paginate(:page => params[:page], :per_page => 9) %>
						</section>
						<!--right column-->

						<%= render '/product_categories/blocks/sidebar/sidebar' %>
						
					</div>
				</div>
				</div>